.FDR{
	font-size: 18px;
	font-family: 'Underdog', cursive;
	color:#660066
}
p{
	font-weight: 600;
	font-family: 'Amatic+SC', cursive;
	color:#800080}
.test_text11{
	font-size: 10px;
	font-weight: 200;
	font-family: 'Amatic+SC', cursive;
	color:#800080}